@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}

.dark body {
  @apply bg-gray-950 text-gray-50;
}
